@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Playwrite+CU:wght@100..400&display=swap");
.box {
  border: 3px solid red;
  padding: 30px;
  /* margin-top: 150px; */
  background-color: blanchedalmond;
}
h1 {
  color: #0000ff;
  text-align: center;
  text-decoration: underline blue dotted 5px;
  text-transform: capitalize;
  /* letter-spacing: 5px;
  word-spacing: 30px; */
  text-shadow: 0px 0px 3px red;
  font-family: "Kalnia Glaze", serif;
}
p {
  text-align: justify;
  line-height: 25px;
  font-size: 20px;
  font-weight: 500;
}

i {
  color: red;
  font-size: 40px;
}
i:hover {
  color: blue;
}
