* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

header {
  background-color: #333333;
  padding: 20px;
}

nav a {
  padding: 0px 20px;
}

nav a:hover {
  background-color: #5e5d5d;
  padding: 30px 20px;
}

.banner {
  background-image: url(Media/showcase.jpeg);
  color: white;
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 50px;

  h1 {
    font-size: 50px;
  }
}

.mouckup {
  background-color: #252529;
  color: white;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  button {
    width: 30%;
    padding: 10px 20px;
    margin: auto;
    background-color: rgb(238, 58, 58);
    color: white;
  }
}

.mouckup2 {
  background-color: white;
  color: black;

  button {
    width: 10%;
    background-color: blue;
  }
}

.banner2 {
  background-image: url(Media/section-bg.jpeg);
}

.giftcard {
  display: flex;
  padding: 50px;
  gap: 50px;
  align-items: center;

  .part2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
}
